@font-face {
  font-family: 'mblack';
  src:  url('../fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}
@font-face {
  font-family: 'mbold';
  src:  url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}
@font-face {
  font-family: 'mmedium';
  src:  url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}
@font-face {
  font-family: 'mregular';
  src:  url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}
@font-face {
  font-family: 'mthin';
  src:  url('../fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}