:root {
	--blue: #2aacf7;
	--white: #fff;
	--black: #353535;
	--yellow: #f7d870;
	--brown: #a96d0f;
	--silver-black: #757575;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* firefox scrollbar */
	scrollbar-width: thin;
	scrollbar-color: var(--yellow) #e0e0e0;
}

/* Scrollbar */
::-webkit-scrollbar { width: 6px; background: #e0e0e0; }
::-moz-scrollbar { width: 6px; background: #e0e0e0; }
::-webkit-scrollbar-thumb { background: var(--yellow); }
::-webkit-scrollbar-thumb:hover { background-color: var(--blue); }

/* Text selection */
::-webkit-selection { color: var(--white); background: var(--brown); }
::-moz-selection { color: var(--white); background: var(--brown); }
::selection { color: var(--white); background: var(--brown); }

body {
	font-family: mregular;
}
a { 
	text-decoration: none; 
}
li { 
	list-style: none;
}
.container {
	position: relative;
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}
header {
	position: relative;
	background-color: var(--blue);
}
header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 90px;
	background: var(--black);
	opacity: .2;
	-webkit-filter: blur(20px);
	filter: blur(20px);
}
.header-top {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	z-index: 10;
	max-width: 1320px;
	margin: 0 auto;
}
.logo {
	width: 100%;
	max-width: 600px;
	display: flex;
	justify-content: space-around;
}
.logo a {
	display: block;
	margin: auto 10px;
}
.logo img {
	width: 130px;
	vertical-align: middle;
}
.logo img:last-child {
	display: none;
}
.logo a:nth-child(2) img {
	width: 80px;
}
.logo a:nth-child(4) img {
	width: 94px;
}
nav {
	width: 100%;
	z-index: 20;
	background-color: var(--yellow);
}
.nav__top {
	width: 200px;
	margin-right: 15px;
	text-align: right;
}
.nav__socials a {
	display: inline-block;
	margin: 0 10px;
}
.nav__socials img {
	width: 28px;
}
.nav__tel a {
	color: var(--white);
	font-family: mbold;
	font-size: 13px;
}
.nav__tel p {
	color: var(--white);
	font-style: italic;
	font-size: 10px;
}
.nav__search {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 300px;
}
.nav__search input {
	width: 100%;
	background-color: rgba(255,255,255,0.7);
	border: none;
	outline: none;
	border-radius: 15px;
	padding: 8px 12px;
	padding-right: 35px;
}
.nav__search button {
	position: absolute;
	top: 6px;
	right: 10px;
	z-index: 1;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
.nav__search button img {
	width: 18px;
}
.nav__bottom {
	position: relative;
	display: flex;
	justify-content: flex-end;
	max-width: 1320px;
	margin: 0 auto;
}
.nav__bottom #menu {
	display: none;
}
.nav__bottom ul {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: var(--yellow);
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
}
.nav__bottom ul li:hover {
	background-color: rgba(0,0,0,0.2);
}
.nav__bottom ul li a {
	display: block;
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: 12px;
	font-family: mbold;
	color: var(--black);
}
.nav__bottom ul li:hover .submenu {
	display: block;
}
.nav__bottom .submenu {
	position: absolute;
	z-index: 10;
	display: none;
	width: 160px;
}
.nav__bottom .submenu li a {
	font-size: 10px;
}
.nav__lang {
	display: flex;
	align-items: center;
}
.nav__bottom ul .nav__lang a {
	font-size: 10px;
	padding: 11px;
}

/* main */
.main {
	position: relative;
	width: 100%;
	height: 520px;
	background-image: url('../img/main-bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
}
.main::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/bulb.png');
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
}
.main .container {
	height: 100%;
}
.main__synergy {
	max-width: 520px;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 80px;
}
.main__synergy-info img {
	width: 100%;
	max-width: 500px;
}
.main__synergy-info p {
	margin: 20px 0 30px;
	color: var(--white);
}
.main__synergy-info a {
	background-color: var(--yellow);
	color: var(--brown);
	display: block;
	max-width: 300px;
	text-align: center;
	border-radius: 25px;
	font-size: 12px;
	padding: 10px 0;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;
}
.main__synergy-info a:hover {
	background-color: #dcc062;
}

/* content calendar plan */
.content-wrap {
	position: relative;
	padding: 30px 0;
	display: flex;
	width: 100%;
}
.content__title {
	margin: 15px 0 40px;
	text-align: center;
}
.content__title h1 {
	font-family: mbold;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--brown);
}
/* sidebar */
.content-right {
	position: relative;
	width: 30%;
	margin-left: 2%;
}
.sidebar {
	/*position: -webkit-sticky;
	position: sticky;*/
	top: 15px;
}
.fixed-header
.sidebar {
	top: 75px;
}
.facts {
	position: relative;
	-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.3);
}
.facts::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	text-transform: uppercase;
	background-color: var(--blue);
	color: var(--white);
	font-family: mmedium;
	font-size: 12px;
	padding: 8px 20px;
}
.facts__item {
	position: relative;
	width: 100%;
	height: 216px;
}
.facts__item img {
	width: 100%;
	height: 216px;
}
.facts__item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.6);
}
.facts__info {
	position: absolute;
	bottom: 15px;
	left: 20px;
	right: 10px;
	z-index: 2;
}
.facts__info p {
	font-family: mmedium;
	color: var(--white);
}


/* photogallery page */
.photo-galery {
	margin-top: 30px;
	position: relative;	
	padding: 40px 10px 10px;
	-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.3);
}
.gallery__title {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	text-transform: uppercase;
	background-color: var(--blue);
	color: var(--white);
	font-family: mmedium;
	font-size: 12px;
	padding: 8px 20px;
}
.gallery-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
}
.gallery-item {
	width: 100%;
	height: 210px;
	overflow: hidden;
}
.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}

/* END of sidebar */
.content-left {
	width: 68%;
}
.calendar-plan__wrap {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}
.calendar-plan__item {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 230px;
	overflow: hidden;
}
.calendar-plan__item::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 100%;
	height: 0;
	background-color: rgba(0,0,0,0.5);
	
	opacity: 0;
	-webkit-transition: .5s ease-out;
	transition: .5s ease-out;
}
.calendar-plan__item:hover::before {
	height: 100%;
	top: 0;
	opacity: 1;
}
.calendar-plan__item img {
	width: 100%;
	height: 100%;
	max-height: 230px;
	object-fit: cover;
	object-position: center center;
}
/* webinar video */
.webinar-video
.calendar-plan__item::before {
	height: 100%;
	opacity: 1;
}
.webinar-video
.calendar-plan__item:hover 
.play-icon {
	width: 80px;
	height: 80px;
	opacity: 1;
}
.webinar-video
.play-icon {
	width: 70px;
	height: 70px;
}
.webinar-video__item {
}
.webinar-video__title {
	font-family: mbold;
	font-weight: normal;
	color: var(--brown);
	font-size: 22px;
	padding: 8px 0;
}
.webinar-video__item
.open-modal {
	display: block;
	text-align: center;
	border: 1px solid var(--brown);
	border-radius: 5px;
	font-size: 14px;
	color: var(--brown);
	padding: 5px;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;
}
.webinar-video__item
.open-modal:hover {
	background-color: var(--brown);
	color: var(--white);
}
/* end */
.webinar__date {
	position: absolute;
	top: 20px;
	right: 6px;
	z-index: 5;
	color: var(--blue);
	font-family: mmedium;
	font-size: 18px;
}
.webinar__date::before {
	content: '';
	position: absolute;
	top: -6px;
	right: -6px;
	z-index: -1;
	width: 56px;
	height: 35px;
	background-color: var(--yellow);
}
.webinar__title {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	padding: 10px 12px 15px;
	color: var(--white);
	font-family: mmedium;
	font-size: 20px;
}
.webinar__title::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
	-webkit-filter: blur(15px);
	filter: blur(15px);
}
.calendar-plan__item a {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
}
.calendar-more {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}
.calendar-more a {
	display: inline-block;
	border: 1px solid var(--brown);
	border-radius: 3px;
	padding: 5px 15px;
	color: var(--brown);
	font-size: 14px;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;
}
.calendar-more a:hover {
	background-color: var(--brown);
	color: var(--white);
}

/* content team */
.team {
	margin-top: 70px;
}
.team__wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.team__item {
	padding: 10px; 
	text-align: center;
}
.team__photo {
	width: 195px;
	max-height: 245px;
	overflow: hidden;
	margin-bottom: 20px;
}
.team__photo img {
	width: 200px;
	object-fit: cover;
	object-position: center center;
}
.team__item p {
	text-transform: uppercase;
	font-size: 14px;
	color: var(--black);
}
.team__item span {
	font-size: 12px;
	color: #aaa;
	font-style: italic;
}

/* news */
.news {
	margin-top: 50px;
}
.news__wrap {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}
.news__item {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 210px;
	overflow: hidden;
}
.news__item::before,
.news__item::after {
	content: '';
	position: absolute;
	top: 0;
	z-index: 0;
	width: 0;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.news__item::before {
	left: 50%;
}
.news__item::after {
	right: 50%;
}
.news__item:hover::before,
.news__item:hover::after {
	width: 50%;
}
.news__item:hover .news__title {
	color: var(--yellow);
}
.news__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
}
.news__title {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	padding: 12px 10px;
	font-family: mmedium;
	text-transform: uppercase;
	color: var(--white);
	font-size: 10px;
	background-color: rgba(0,0,0,0.5);
	-webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.news__item a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

/* news page */
.fixed-header 
.news {
	margin-top: 0;
}

/* partners */
.partners {
	margin-top: 40px;
}
.partners__wrap {
	background-color: #f2f2f2;
}
.partners__slider {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 40px 0;
}
.partners__item {
	width: 180px;
	margin: 15px;
	text-align: center;
}
.partners__img {
	height: 42px;
	margin-bottom: 20px;
}
.partners__img:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	opacity: 1;
}
.partners__img img {
	display: block;
	margin: auto;
	width: 160px;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	opacity: .5;
	transition: .15s ease-out;
}
.partners__text span {
	color: var(--yellow);
	font-family: mbold;
	font-size: 14px;
	line-height: 20px;
}
.partners__text p,
.partners__text a {
	font-size: 14px;
	color: var(--black);
}
.partners__text a:hover {
	color: var(--blue);
}

/* additional styles */
.header__addition {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 799;
	width: 100%;
	height: 60px;
	background-color: var(--blue);
	-webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}
.fixed-header {
	margin-top: 60px;
}
.header__addition-wrap {
	width: 100%;
	max-width: 1320px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
.header__addition::before {
	display: none;
}
.header__addition .logo__addition {
	padding: 0 15px;
}
.header__addition nav {
	width: unset;
	background-color: unset;
	display: flex;
	padding: 0 10px;
	justify-content: center;
	transition: 0.3s ease-in-out;
}
.header__addition nav ul {
	display: flex;
	list-style-type: none;

	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}
.header__addition nav ul li {
	display: block;
	position: relative;
}
.header__addition nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 22px 15px;
	text-transform: uppercase;
	font-size: 13px;
	font-family: mmedium;
	display: block;
	transition: all ease-in 0.15s;
}
.header__addition nav ul li:hover {
	background-color: #2692d1;
}
.header__addition nav ul .nav__lang {
	margin-left: 80px;
}
.header__addition nav ul .nav__lang a {
	font-size: 10px;
	padding: 11px;
}
.header__addition nav ul li:hover .submenu {
	display: block;
}
.header__addition .submenu {
	position: absolute;
	display: none;
	width: 160px;
	background-color: var(--blue);
}
.header__addition .submenu li a {
	font-size: 10px;
	padding: 10px 15px;
}
.logo__addition img {
	width: 160px;
	padding-top: 4px;
}
.header__addition #menu {
	display: none;
}
.sticky-unset {
	position: unset;
}
.sidebar__links {
	margin: 10px 0 30px;
}
.sidebar__links a {
	position: relative;
	display: block;
	border: 1px solid var(--blue);
	color: var(--blue);
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	padding: 12px 5px;
	margin-bottom: 15px;
	transition-delay: 0.2s;
}
.sidebar__links a span:first-child,
.sidebar__links a span:last-child {
	position: absolute;
	background-color: var(--blue);
	width: 0;
	height: 100%;
	z-index: -1;
	-webkit-transition: 0.3s ease;
	transition: 0.5s ease;
}
.sidebar__links a:hover {
	color: var(--white);
}
/* first link */
.sidebar__links a:nth-child(1) span:first-child {
	top: 0;
	bottom: 0;
	left: 0;
}
.sidebar__links a:nth-child(1) span:last-child {
	top: 0;
	bottom: 0;
	right: 0;
}
.sidebar__links a:nth-child(1):hover span:first-child,
.sidebar__links a:nth-child(1):hover span:last-child {
	width: 50%;
}
/* second link */
.sidebar__links a:nth-child(2) span:first-child,
.sidebar__links a:nth-child(2) span:last-child {
	width: 100%;
	height: 0;
}
.sidebar__links a:nth-child(2) span:first-child,
.sidebar__links a:nth-child(3) span:first-child {
	top: 0;
	left: 0;
}
.sidebar__links a:nth-child(2) span:last-child,
.sidebar__links a:nth-child(3) span:last-child {
	bottom: 0;
	right: 0;
}
.sidebar__links a:nth-child(2):hover span:first-child,
.sidebar__links a:nth-child(2):hover span:last-child {
	height: 50%;
}
/* third link */
.sidebar__links a:nth-child(3) span:first-child,
.sidebar__links a:nth-child(3) span:last-child {
	width: 0;
	height: 0;
}
.sidebar__links a:nth-child(3):hover span:first-child,
.sidebar__links a:nth-child(3):hover span:last-child {
	width: 50%;
	height: 100%;
}

/* insta */
.insta-wrap {
	max-height: 450px;
	overflow-y: scroll;
}
.insta-wrap::-webkit-scrollbar-thumb {
	background-color: var(--silver-black);
}
.insta-wrap iframe {
	min-width: unset !important;
}

/* prizepool */
.prizepool-wrap {
	border: 1px solid #f2f2f2;
	background-color: #f8f8f8;
	border-radius: 5px;
	padding: 10px;
}
.prizepool-wrap ul {
	margin-left: 30px;
}
.prizepool-wrap ul li {
	font-size: 20px;
	color: var(--blue);
	margin: 10px 0;
}
.prizepool-wrap ul li b,
.prizepool-wrap ul li span {
	font-family: mbold;
	font-weight: normal;
}
.prizepool-wrap ul li span {
	font-size: 30px;
	color: var(--brown);
}

/* announce video */
.announce-video-wrap {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	height: 100%;
	max-height: 240px;
}
.announce-video-wrap a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}
.announce-video-wrap:hover
.play-icon {
	width: 80px;
	height: 80px;
	opacity: 1;
}
.announce-video-wrap a img:first-child {
	width: 100%;
	height: 100%;
	max-height: 240px;
	object-fit: cover;
	object-position: center center;
}
.play-icon {
	width: 70px;
	height: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0.8;
	transform: translate(-50%, -50%);
	z-index: 3;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

/* congress */
.congress__info p,
.congress__info b,
.congress__info li {
	font-size: 14px;
	color: var(--silver-black);
	line-height: 22px;
}
.congress__info b {
	font-family: mbold;
}
.congress__info ul {
	margin-left: 30px;
}
.congress__info li {
	list-style: unset;
}
.congress__leads {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 30px 0;
}
.congress__item {
	width: 260px;
	padding: 0;
	margin: 20px 15px;
}
.congress__photo {
	margin-bottom: 20px;
}
.congress__photo img {
	width: 200px;
}
.congress__item p {
	font-family: mbold;
	font-size: 12px;
	color: var(--silver-black);
	margin-bottom: 10px;
}

/* footer */
footer {
	background-color: #f2f2f2;
	margin-top: 40px;
}
.footer-wrap {
	display: flex;
	justify-content: space-around;
	padding: 50px 0;
}
.footer-links a {
	font-family: mbold;
	color: var(--black);
	text-transform: uppercase;
	line-height: 26px;
	font-size: 14px;
	-webkit-transition: .3s ease-out;
	transition: .2s ease-out;
}
.footer-links a:hover {
	color: var(--blue);
}
.footer-contacts-title {
	padding-bottom: 14px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 8px;
}
.footer-contacts-title h4 {
	font-family: mbold;
	font-weight: normal;
	color: var(--black);
}
.footer-contacts p,
.footer-contacts a {
	font-size: 13px;
	color: #999999;
	font-style: italic;
	line-height: 24px;
}
.footer-contacts a:hover {
	text-decoration: underline;
}
.footer-socials {
	display: none;
}
/* author */
.author {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 20px 15px;
	color: #999;
	font-size: 14px;
}
.author img {
	width: 70px;
	opacity: 0.8;

	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}
.author img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 1;
}

/* contacts page */
.contacts-item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.contacts-item i {
	margin-right: 15px;
	color: var(--yellow);
	font-size: 14px;
}
.contacts-item a i {
	font-size: 24px;
	margin-right: 20px;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;
}
.contacts-item a i:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
	color: var(--brown);
}
.contacts-item p,
.contacts-item a {
	color: var(--black);
	line-height: 24px;
	font-family: mmedium;
}
.contacts-item a:hover {
	text-decoration: underline;
}
.contacts-wrap iframe {
	width: 100%;
	max-width: 500px;
}

@media (max-width: 1140px) {
	.nav__socials a {
		margin: 0 5px;
	}

	/* sidebar */
	.fixedSidebar {
		position: fixed;
		top: 15px;
		right: 15px;
		width: calc(30% - 9px);
	}

	/* prizepool */
	.prizepool-wrap ul {
		margin-left: 10px;
	}
	.prizepool-wrap ul li {
		font-size: 18px;
	}
	.prizepool-wrap ul li span {
		font-size: 24px;
	}

	/* news */
	.news__wrap {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 960px) {
	.header-top {
		flex-direction: column;
	}
	.logo img:first-child {
		display: none;
	}
	.logo img:last-child {
		display: block;
	}
	.logo a:nth-child(1) 
	img:last-child {
		width: 70px;
	}
	.logo a:nth-child(2) 
	img:last-child {
		width: 90px;
	}
	.logo a:nth-child(3) 
	img:last-child {
		width: 80px;
	}
	.logo a:nth-child(4) img {
		width: 70px;
	}
	.nav__search {
		max-width: unset;
		margin-top: 10px;
	}

	.nav__bottom ul {
		visibility: hidden;
		opacity: 0;
		top: 0;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	.showing {
		visibility: visible !important;
		opacity: 1 !important;
		top: 35px !important;
		-webkit-transform: scale(1) !important;
		transform: scale(1) !important;
	}
	.nav__bottom #menu {
		display: block;
	}

	.main::before {
		display: none;
	}
	.nav__top {
		display: none;
	}
	.nav__socials {
		margin-right: 30px;
	}
	.nav__bottom ul {
		width: 100%;
		flex-direction: column;
		position: absolute;
		left: 0;
		z-index: 10;
	}
	.nav__bottom ul li {
		width: 100%;
		text-align: left;
	}
	.nav__lang {
		width: 100%;
	}
	.nav__bottom .nav__lang li {
		width: unset;
	}
	.nav__bottom ul li a,
	.nav__bottom ul .nav__lang a {
		padding: 15px;
	}
	.nav__bottom ul li:hover .submenu {
		display: none;
	}
	.nav__bottom .submenu {
		position: unset;
		width: 100%;
		background: #dcc062;
		-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
		box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
	}
	.submenu__active {
		display: block !important;
	}

	/* secondary nav style */
	.header__addition #menu {
		display: block;
	}
	.header__addition nav ul {
		overflow: hidden;
		width: 100%;
		max-height: 0px;
		background-color: var(--blue);
		position: absolute;
		top: 60px;
		left: 0;
		z-index: 9999;
		display: block;
	}
	.header__addition nav ul li {
		width: 100%;
		text-align: left;
		transition: all ease-in 0.1s;
	}
	.header__addition nav ul li:hover .submenu {
		display: none;
	}
	.header__addition nav ul li a {
		padding: 15px;
	}
	.header__addition .submenu {
		position: unset;
		width: 100%;
	}
	.header__addition nav ul .nav__lang {
		margin-left: 0;
	}
	.header__addition nav ul .nav__lang li {
		width: 80px;
	}
	.showing__addition {
		max-height: 20em !important;
	}

	/* photogallery */
	.gallery-grid {		
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 840px) {
	/* content calendar plan */
	.calendar-plan__wrap {
		grid-template-columns: repeat(1, 1fr);
	}
	.content-right {
		width: 300px;
	}
	.calendar-plan__item {
		height: 210px;
	}

	/* team */
	.team__photo {
		width: 180px;
		height: 230px;
	}

	/* sidebar */
	.gallery__grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.fixedSidebar {
		width: calc(36% - 8px);
	}

	/* news */
	.news__wrap {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-width: 768px) {
	/* photogallery */
	.gallery-grid {		
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-width: 600px) {
	/* main logo */
	.main__synergy {
		margin-left: 0;
	}
	.main__synergy-info a {
		margin: 0 auto;
	}

	/* content */
	.content-wrap {
		flex-direction: column;
	}
	.content-left {
		width: 100%;
	}
	.content-right {
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
	}

	/* footer */
	.footer-wrap {
		flex-direction: column;
	}
	.footer-contacts {
		margin-top: 20px;
	}
	.footer-contacts-title {
		padding-bottom: 0;
		border: none;
		margin-bottom: 5px;
	}
	.footer-socials {
		display: block;
	}

	/* contacts page */
	.contacts-wrap iframe {
		max-width: unset;
		height: 300px;
	}
}
@media (max-width: 500px) {
	.logo a {
		margin: auto 5px;
	}
	.logo a:nth-child(1) 
	img:last-child {
		width: 60px;
	}
	.logo a:nth-child(2) 
	img:last-child {
		width: 80px;
	}
	.logo a:nth-child(3) 
	img:last-child {
		width: 65px;
	}
	.logo a:nth-child(4) 
	img {
		width: 60px;
	}

	.nav__top {
		margin-top: 15px;
		margin-right: 0;
	}
	.nav__socials {
		display: none;
	}

	/* author */
	.author {
    flex-direction: column;
    text-align: center;
	}
	.author div:nth-child(1) {
		margin-bottom: 10px;
	}
}